<div class="pt-3 pb-2">
    <footer class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-3 rounded-lg flex justify-end items-center gap-3">
    <p class="font-semibold flex items-center gap-2">
        &copy;
        <script>
        document.write(new Date().getFullYear());
        </script>
    </p>
    <a href="https://www.rgvsoluciones.com" target="_blank" rel="noopener noreferrer" class="inline-flex items-center">
        <img src="/static/images/logo-light.png" class="h-8 dark:hidden">
        <img src="/static/images/logo-dark.png" class="h-8 hidden dark:block">
    </a>
    </footer>
</div>
