<div id="loading-popup"
    class="absolute top-0 right-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50 hidden"
    style="width: calc(100%);height: calc(100vh - 200px);">
    <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg">
        <div class="flex items-center flex-wrap justify-center gap-5">
            <div
                class="animate-spin border-8 border-gray/10 border-l-purple rounded-full w-14 h-14 inline-block align-middle">
            </div>
        </div>
    </div>
</div>