<div class="flex justify-end items-center gap-2" x-data x-show="true">
    {% if can_access('/transferencias/aprobar') %}
    <template x-if="$store.modalData.record.estatus === 'En revisión'">
        <button type="button"
            @click.stop.prevent="window.location.href = `/transferencias/aprobar/${encodeURIComponent($store.modalData.record.id)}`"
            class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            Aprobar
        </button>
    </template>
    {% endif %}
    {% if can_access('/transferencias/revision') %}
    <template x-if="['Aprobado', 'Realizado'].includes($store.modalData.record.estatus)">
        <button type="button"
            @click.stop.prevent="window.location.href = `/transferencias/revision/${encodeURIComponent($store.modalData.record.id)}`"
            class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            Marcar en revisión
        </button>
    </template>
    {% endif %}
    {% if can_access('/transferencias/realizar') %}
    <template x-if="$store.modalData.record.estatus === 'Aprobado'">
        <button type="button"
            @click.stop.prevent="window.location.href = `/transferencias/realizar/${encodeURIComponent($store.modalData.record.id)}`"
            class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            Realizar
        </button>
    </template>
    {% endif %}
</div>