{% extends 'partials/system/layout1.html' %}
{% block content %}
{% include "partials/system/alerts.html" %}
{% import 'variables.html' as vars %}


<!-- Breadcrumb -->
{% include 'partials/table/breadcrumbs.html' %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<style>
    .select2-container .select2-selection--single {
        height: 40px;
        border: 1px solid #d1d5db;
        border-radius: 0.5rem;
        padding: 6px 12px;
        background-color: #f5f4f7;
        transition: border-color 0.2s, box-shadow 0.2s;
        display: flex;
        align-items: center;
        font-size: 0.875rem;
    }
</style>
<div class="h-[calc(100vh-366px)] sm:h-[calc(100vh-204px)]">
    <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg flex items-center justify-between">
        <div>
            {% for detail in details %}
                <h1 class="font-semibold">{{detail}}</h1>
            {% endfor %}
        </div>
        <div class="flex gap-2">
            <form method="GET" action="{{ url_for('dynamic.table_view_input_confirm', table_name=main_table_name,id=main_record.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit"
                    class="py-2 px-3 bg-success border border-success rounded-md text-white transition-all duration-300 hover:bg-success/[0.85] hover:border-success/[0.85]">
                    Confirmar
                </button>
            </form>
        </div>
    </div>
    <div class="grid gap-5 pt-5">
        <div>
            <div id="table-data" data-table="/dynamic/{{ main_table_name }}/input_table/data/{{ main_record.id }}" data-columns='{{ columns|tojson }}'></div>
            <div class="flex flex-col">
                <div class="grid grid-cols-1 gap-5">
                    <div class="sticky top-0 bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg" x-data="tabla" x-init="$watch('items', () => {$nextTick(() => rebindSelect2());}); initData();$watch('searchInput', value => { search(value) })">
                        <div class="flex justify-between items-center gap-3">
                            <div>
                                <h2 class="text-base font-semibold">{{ table_title }}</h2>
                            </div>
                            <div class="flex items-center gap-5">
                                <input id="search" x-model="searchInput" type="text" class="form-input" placeholder="Buscar...">
                            </div>
                        </div>
                        <div class="overflow-auto table-scroll-horizontal"  style="max-height: calc(100vh - 440px);">
                            <table class="min-w-[640px] w-full table-hover table-striped">
                                <thead class="bg-white dark:bg-dark sticky top-0 z-10">
                                    <tr>
                                        {% for column in columns %}
                                        <th data-column="{{ column }}">
                                            <div class="flex items-center justify-between gap-2">
                                                <p class="font-semibold">{{ column|title_format }} {% if column in required_fields %} * {% endif %} </p>
                                                <div class="flex flex-col">
                                                    <!-- Icono para ordenar ascendente -->
                                                    <svg @click="sort('{{ column }}', sorted.rule === 'asc' ? 'desc' : 'asc')"
                                                        fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"
                                                        viewBox="0 0 24 24" stroke="currentColor"
                                                        class="h-3 w-3 cursor-pointer text-muted"
                                                        x-bind:class="{'!text-black': sorted.field === '{{ column }}' && sorted.rule === 'asc'}">
                                                        <path d="M5 15l7-7 7 7"></path>
                                                    </svg>
                                                    <!-- Icono para ordenar descendente -->
                                                    <svg @click="sort('{{ column }}', sorted.rule === 'desc' ? 'asc' : 'desc')"
                                                        fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"
                                                        viewBox="0 0 24 24" stroke="currentColor"
                                                        class="h-3 w-3 cursor-pointer text-muted"
                                                        x-bind:class="{'!text-black': sorted.field === '{{ column }}' && sorted.rule === 'desc'}">
                                                        <path d="M19 9l-7 7-7-7"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <template x-for="record in items" :key="record.id">
                                        <tr class="cursor-pointer hover:bg-gray-100">
                                            <template x-for="(col, i) in {{ columns }}" :key="i">
                                                <td >  
                                                    <template x-if="file_columns.includes(col)">
                                                        <form method="POST" class="space-y-4" id="dynamic_form"
                                                            x-bind:action="`{{ url_for('dynamic.upload_file', table_name=table_name, id='__id__', column='__replace__') }}`.replace('__replace__', col).replace('__id__', record.id)"
                                                            enctype="multipart/form-data">        
                                                            <div class="border w-10 h-10 flex items-center justify-center text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
                                                                <input type="file" :id="`file-upload-${col}-${record.id}`" name="archivo" class="hidden"  @change="console.log('changed', $event.target.files)">
                                                                <label :for="`file-upload-${col}-${record.id}`">
                                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M3 15C3 17.8284 3 19.2426 3.87868 20.1213C4.75736 21 6.17157 21 9 21H15C17.8284 21 19.2426 21 20.1213 20.1213C21 19.2426 21 17.8284 21 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                        <path d="M12 16V3M12 3L16 7.375M12 3L8 7.375" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                    </svg>
                                                                </label>                    
                                                            </div>    
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                        </form>
                                                    </template>      
                                                    <template x-if="{{ edit_fields }}.includes(col) && number_colums.includes(col)">
                                                        <form method="POST">
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                            <input type="number" x-model="record[col]"
                                                                class="form-input rounded-lg w-32 h-12 " 
                                                                @blur="update_record(record,col)" />
                                                        </form>
                                                    </template>                                                    
                                                    <template x-if="{{ edit_fields }}.includes(col) && date_columns.includes(col)">
                                                        <form method="POST">
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                            <input type="date" x-model="record[col]"
                                                                class="form-input rounded-lg" style="width:150px"
                                                                @blur="update_record(record,col)"></input>
                                                        </form>
                                                    </template>
                                                    <template x-if="{{ edit_fields }}.includes(col) && textarea_columns.includes(col)">
                                                        <form method="POST">
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                            <textarea rows='3'  x-model="record[col]"
                                                                class="form-textarea rounded-lg w-50 h-20" 
                                                                @blur="update_record(record,col)"></textarea>
                                                        </form>
                                                    </template>
                                                    <template x-if="{{ edit_fields }}.includes(col) && text_columns.includes(col)">
                                                        <form method="POST">
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                            <input type="text" x-model="record[col]"
                                                                class="form-input rounded-lg w-32 h-12 " 
                                                                @blur="update_record(record,col)" />
                                                        </form>
                                                    </template>
                                                    <template x-if="{{ edit_fields }}.includes(col) && time_columns.includes(col)">
                                                        <form method="POST">
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                            <input type="time" x-model="record[col]"
                                                                class="form-input rounded-lg" style="width:150px"
                                                                @blur="update_record(record,col)"></input>
                                                        </form>
                                                    </template>
                                                    {% include 'partials/input_table/dropdowns/' ~ table_name ~ '.html' ignore missing %}                                        
                                                    <!-- Mostrar otras columnas normalmente -->
                                                    <template x-if="!{{ edit_fields }}.includes(col) && !String(col).includes('fecha')">
                                                            <span 
                                                                x-text="record[col] 
                                                                ? (money_format_columns.includes(col) 
                                                                    ? money_format(record[col]) 
                                                                    : record[col]) 
                                                                : '-'">
                                                            </span>
                                                    </template>
                                                </td>
                                            </template>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/system/table/data-search.js"></script>
<script src="/static/js/system/table/data_table.js"></script>
<script src="/static/js/system/table/loader.js"></script>
<script src="/static/js/system/table/dynamic_table_init.js"></script>
<script src="/static/js/system/table/format_functions.js"></script>
<script src="/static/js/system/input_table/update_record.js"></script>
<script src="/static/js/system/double_table/select2.js"></script>

<script>
    const allow_new_value_dropdowns={{ vars.allow_new_value_dropdowns | tojson }};
    const table_name={{ table_name | tojson }};
    const file_columns = {{ vars.file_columns | tojson }};
    const date_columns = {{ vars.date_columns | tojson }};
    const date_time_columns = {{ vars.date_time_columns | tojson }};
    const time_columns = {{ vars.time_columns | tojson }};
    const textarea_columns = {{ vars.textarea_columns | tojson }};
    const number_colums = {{ vars.number_colums | tojson }};
    const text_columns = {{ vars.text_columns | tojson }};
    const money_format_columns = {{ vars.money_format_columns | tojson }};
    
</script>


{% include "partials/system/loader.html" %}

{% endblock content %}