<!-- templates/dynamic_table.htmla -->

{% extends './partials/system/layout1.html' %}

{% block content %}
{% include "./partials/system/alerts.html" %}
<!-- Breadcrumb -->
{% include 'partials/table/system/breadcrumbs.html' %}
{% import 'variables.html' as vars %}
{% if report %}
    <div id="table-data" data-table="/report_queries/{{ table_name }}/data" data-columns='{{ columns|tojson }}' hidden></div>
{% else %}
    <div id="table-data" data-table="/dynamic/{{ table_name }}/data" data-columns='{{ columns|tojson }}' hidden></div>
{% endif %}
<!-- Elemento oculto para pasar data al JS: nombre de tabla y columnas -->
<div class="flex flex-col h-[calc(100vh-188px)] sm:h-[calc(100vh-204px)]"  x-data="calendarComponent();" x-init="init()">
    <div class="grid grid-cols-1 gap-5">
        <div x-data="{ activeDefTab: '{{ activeDefTab }}' }" id="tabs">
            <ul class="flex flex-wrap text-xs text-center dark:border-gray/20 border-b border-lightgray/10">
                {% for tab in tabs %}
                    <li>
                        <a href="/dynamic/{{parent_table}}/related/{{id_parent_record}}/{{tab}}?parent_table={{parent_table}}&id_parent_record={{id_parent_record}}"
                            :class="activeDefTab === '{{ tab }}' ? 'bg-primary/10 text-primary' : 'bg-transparent text-gray hover:bg-primary/10 hover:text-primary'"
                            class="inline-flex items-center gap-2 px-5 py-3 rounded-t-lg">
                            {{ tab | title_format }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="sticky top-0 bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg">
            <div class="overflow-auto space-y-4" x-data="tabla" x-init="initData(); initDatePicker(); $watch('searchInput', value => { search(value) });selectedIds = [];document.querySelectorAll('input[type=checkbox]').forEach(cb => cb.checked = false);">
                {% include 'partials/table/system/table_title.html' %}                
                {% include 'partials/table/system/table.html' %}
                {% include 'partials/table/system/pagination.html' %}
                <div id="calendar_wrapper" style="display:none">
                    <div id="calendar_view"></div>
                </div>
            </div>
        </div>
        {% include 'partials/table/modals/dynamic_modal.html' %}           

    </div>
</div>
{% include "./partials/system/loader.html" %}
<!-- Incluir archivos JS centralizados -->

<script src="/static/js/system/table/reload_table.js"></script>
<script src="/static/js/system/table/data-search.js"></script>
<script src="/static/js/system/table/data_table.js"></script>
<script src="/static/js/system/table/loader.js"></script>
<script src="/static/js/system/table/dynamic_table_init.js"></script>
<script src="/static/js/system/table/format_functions.js"></script>
<script src="/static/js/system/table/generate_files.js"></script>
<script src="/static/js/system/table/download_file.js"></script>
<script src="/static/js/system/table/calendar.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>  
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/locales/es.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/main.min.css">
<script>
        const table_name = {{ table_name | tojson }};
        const percentage_format_columns = {{ vars.percentage_format_columns | tojson }};
        const money_format_columns = {{ vars.money_format_columns | tojson }};
        const purple_badge_values = {{ vars.purple_badge_values | tojson }};
        const primary_badge_values = {{ vars.primary_badge_values | tojson }};
        const success_badge_values = {{ vars.success_badge_values | tojson }};
        const warning_badge_values = {{ vars.warning_badge_values | tojson }};
        const danger_badge_values = {{ vars.danger_badge_values | tojson }};
        const gray_badge_values = {{ vars.gray_badge_values | tojson }};
        const calendar_titles = {{ vars.calendar_titles | tojson }}; 
        const title_formats = {{ title_formats | tojson }}; 
</script>
{% if javascript %}
    <script src="{{ url_for('static', filename='js/table_logic/%s.js' % table_name) }}"></script>
{% endif %}
{% endblock content %}