<!-- app/templates/partials/systemsystem/breadcrumbs.html -->
<div class="grid grid-cols-1 sticky top-0 bg-white dark:bg-dark z-20 shadow-md p-4">
        <ul class="flex flex-wrap items-center text-sm font-semibold space-x-2.5">
            {% for crumb in breadcrumbs %}
            {% if not loop.last %}
            <li class="flex items-center space-x-2.5 text-gray hover:text-dark dark:hover:text-white duration-300">
                <a href="{{ crumb.url }}">{{ crumb.name }}</a>
                <svg class="text-gray/50" width="8" height="10" viewBox="0 0 8 10" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5"
                        d="M1.33644 0H4.19579C4.60351 0 5.11318 0.264045 5.32903 0.589888L7.83532 4.3427C8.07516 4.70787 8.05119 5.2809 7.77538 5.6236L4.66949 9.5C4.44764 9.77528 3.96795 10 3.6022 10H1.33644C0.287156 10 -0.348385 8.92135 0.203241 8.08427L1.86409 5.59551C2.08594 5.26405 2.08594 4.72472 1.86409 4.39326L0.203241 1.90449C-0.348385 1.07865 0.293152 0 1.33644 0Z"
                        fill="currentColor" />
                </svg>
            </li>
            {% else %}
            <li class="text-dark dark:text-white">{{ crumb.name }}</li>
            {% endif %}
            {% endfor %}
        </ul>
</div>