<!--Dynamic tables variables-->
{% set no_tabs=['logs_auditoria','archivos'] %} <!-- Que tablas no queremos que tengan tabs  -->
{% set no_tab_count = ['Inactivo','Cancelada','Finalizada'] %}
<!-- Que valores de los tabs no queremos que tengan conteo  -->
{% set no_add_button = ['logs_auditoria'] %} <!-- Que tablas no queremos que tengan boton de agregar  -->
{% set no_edit_button = ['logs_auditoria','archivos'] %} <!-- Que tablas no queremos que tengan botonde editar -->
{% set date_range_search = ['fecha_orden'] %}
{% set percentage_format_columns = [] %}
{% set money_format_columns =
['importe','descuentos','precio_unitario','sub_total','impuesto','importe_total','monto','importe_pagado',
'saldo_inicial' , 'saldo_actual','importe_total','importe_restante','subtotal'] %}
{% set purple_badge_values = [] %}
{% set primary_badge_values = ['En revisión'] %}
{% set success_badge_values = [] %}
{% set warning_badge_values = [] %}
{% set danger_badge_values = [] %}
{% set gray_badge_values = ['Finalizada'] %}

{% set calendar_titles = {'ordenes_de_compra':['id_proveedor_nombre','estatus']} %}

<!--Dynamic form variables-->
{% set columns_foreign_options=['unidad_de_medida','estatus'] %}
{% set date_time_columns=[] %}
{% set date_columns=['fecha_entrega_estimada'] %}
{% set time_columns=[] %}
{% set file_columns=['archivo_cotizacion','imagen_verificacion'] %}

{% macro id_proveedor(option) %}
{{ option.id_visualizacion ~ ' - ' ~ option.nombre }}
{% endmacro %}

{% macro id_ubicacion(option) %}
{{ option.id_visualizacion ~ ' - ' ~ option.nombre }}
{% endmacro %}

<!--Dynamic two table variables-->
{% set textarea_columns = ['notas','descripcion','sugerencias','motivo'] %}
{% set number_colums =
['cantidad','cantidad_recibida','sub_total','importe','importe_ajuste','precio_unitario','cantidad_ordenada','descuento_porcentaje','subtotal','valor_unitario','impuesto']
%}
{% set text_columns = ['folio_fiscal'] %}

{% set allow_new_value_dropdowns = [] %}