{% if can_access('/dynamic/categorias_de_activos/view') %}
    <div class="flex justify-end">
        <a href="{{ url_for('dynamic.table_view',table_name='categorias_de_activos') }}" 
        class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            Categorías
        </a>
    </div>
{% endif %}  
{% if can_access('/dynamic/servicios_de_activos/view') %}
    <div class="flex justify-end">
        <a href="{{ url_for('dynamic.table_view',table_name='servicios_de_activos') }}" 
        class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            Servicios
        </a>
    </div>
{% endif %}  