<div class="flex items-center gap-2">
    {% if can_access('/dynamic/categoria_gasto/view') %}
    <div class="flex justify-end">
        <a href="/dynamic/categoria_gasto/view"
            title="Configurar Categorías"
            class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10 px-3 h-10 flex items-center gap-2">
            <span class="hidden md:block text-xs font-semibold">Categorías De Gasto</span>
        </a>
    </div>
    {% endif %}
</div>