
<!-- Elemento oculto para pasar datos al JS: nombre de tabla y columnas -->
<div id="table-data2" data-table="/access_control/data_users/assigned/{{rol.id}}" data-columns='{{ columnas|tojson }}'></div>
<div class="flex flex-col gap-5">
    <div class="grid grid-cols-1 gap-5">
        <div class="sticky top-0 bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg"  x-data="tabla2" x-init="initData(); $watch('searchInput', value => { search(value) })" >
            <div class="flex justify-between items-center gap-3">
                <div>
                    <h2 class="text-base font-semibold">Usuarios</h2>
                    <span class="text-lightgray text-sm">Usuarios asignados</span>
                </div>
                <div>
                    <input id="search" x-model="searchInput" type="text" class="form-input" placeholder="Buscar...">
                </div>
            </div>            
            <div class="overflow-auto table-scroll-horizontal"style="max-height: calc(100vh - 400px);">
                <table class="min-w-[640px] w-full table-hover">
                    <thead class="bg-white dark:bg-dark sticky top-0 z-10">
                        <tr>
                            <th></th>
                            {% for column in columnas %}
                            <th data-column="{{ column }}">
                                <div class="flex items-center justify-between gap-2">
                                    <p class="font-semibold">{{ column|title_format }}</p>
                                    <div class="flex flex-col">
                                        <!-- Icono para ordenar ascendente -->
                                        <svg @click="sort('{{ column }}', sorted.rule === 'asc' ? 'desc' : 'asc')"
                                            fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"
                                            viewBox="0 0 24 24" stroke="currentColor"
                                            class="h-3 w-3 cursor-pointer text-muted"
                                            x-bind:class="{'!text-black': sorted.field === '{{ column }}' && sorted.rule === 'asc'}">
                                            <path d="M5 15l7-7 7 7"></path>
                                        </svg>
                                        <!-- Icono para ordenar descendente -->
                                        <svg @click="sort('{{ column }}', sorted.rule === 'desc' ? 'asc' : 'desc')"
                                            fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"
                                            viewBox="0 0 24 24" stroke="currentColor"
                                            class="h-3 w-3 cursor-pointer text-muted"
                                            x-bind:class="{'!text-black': sorted.field === '{{ column }}' && sorted.rule === 'desc'}">
                                            <path d="M19 9l-7 7-7-7"></path>
                                        </svg>
                                    </div>
                                </div>
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="(record, index) in items" :key="index">
                            <tr class="cursor-pointer hover:bg-gray-100">
                                <!-- Botón de borrar -->
                                <td>
                                    <form :action="`/access_control/delete_user_to_role/{{rol.id}}/${record.id}`" method="POST">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button type="submit"
                                        class="border w-10 h-10 flex items-center justify-center text-danger border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-danger bg-danger/10">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M2.29166 5.13898C2.29166 4.75545 2.57947 4.44454 2.93451 4.44454L5.15471 4.44417C5.59584 4.43209 5.985 4.12909 6.13511 3.68084C6.13905 3.66906 6.14359 3.65452 6.15987 3.60177L6.25553 3.29169C6.31407 3.10157 6.36508 2.93594 6.43644 2.78789C6.7184 2.20299 7.24005 1.79683 7.84288 1.69285C7.99547 1.66653 8.15706 1.66664 8.34254 1.66677H11.2409C11.4264 1.66664 11.588 1.66653 11.7406 1.69285C12.3434 1.79683 12.8651 2.20299 13.147 2.78789C13.2184 2.93594 13.2694 3.10157 13.3279 3.29169L13.4236 3.60177C13.4399 3.65452 13.4444 3.66906 13.4484 3.68084C13.5985 4.12909 14.0648 4.43246 14.5059 4.44454H16.6488C17.0038 4.44454 17.2917 4.75545 17.2917 5.13898C17.2917 5.5225 17.0038 5.83341 16.6488 5.83341H2.93451C2.57947 5.83341 2.29166 5.5225 2.29166 5.13898Z"
                                                    fill="currentColor" />
                                                <path opacity="0.3"
                                                    d="M9.67232 18.3333H10.3281C12.5843 18.3333 13.7125 18.3333 14.4459 17.6139C15.1794 16.8946 15.2545 15.7146 15.4046 13.3547L15.6208 9.95428C15.7023 8.67382 15.743 8.03358 15.375 7.62788C15.007 7.22217 14.3856 7.22217 13.1429 7.22217H6.85755C5.61477 7.22217 4.99337 7.22217 4.62541 7.62788C4.25744 8.03358 4.29815 8.67382 4.37959 9.95428L4.59584 13.3547C4.74593 15.7146 4.82097 16.8946 5.55446 17.6139C6.28795 18.3333 7.41607 18.3333 9.67232 18.3333Z"
                                                    fill="currentColor" />
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                                <template x-for="(col, i) in {{ columnas }}" :key="i">
                                    <td>

                                        <template x-if="col !== 'cantidad'">
                                            <td
                                                style="word-wrap: break-word;word-break: break-word;white-space: normal;overflow: hidden;text-overflow: ellipsis">
                                                <span x-text="record[col] ? commafy(record[col]) : '-'"></span>
                                            </td>
                                        </template>
                                    </td>
                                </template>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>